<!DOCTYPE html>
<html lang="{{{meta.lang}}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="{{{meta.siteName}}}">
    <meta property="og:title" content="{{{meta.title}}}" />
    <meta property="og:url" content="https://berkselvi.dev" />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/berkslv/berkslv.github.io/main/dist/assets/img/preview.jpeg" />
    <meta property="og:description"
        content="{{{meta.desc}}}" />
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1417">
    <meta property="og:image:height" content="955">
    <meta property="twitter:title" content="{{{meta.title}}}">
    <meta property="twitter:description"
        content="{{{meta.desc}}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image"
        content="https://raw.githubusercontent.com/berkslv/berkslv.github.io/main/dist/assets/img/preview.jpeg">
    <meta property="twitter:image:alt" content="Website preview">

    <title>{{{meta.title}}}</title>
    <meta name="description"
        content="{{{meta.desc}}}">
    <meta name="theme-color" content="#202029">

    <link rel="icon" href="./dist/assets/img/favicon.ico">
    <link rel="stylesheet" href="./dist/assets/css/tailwind.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKZ8XL30H6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JKZ8XL30H6');
    </script>
</head>

<body class="bg-prime-1000">


    <!-- Navbar -->
    <nav class="w-full flex justify-between items-center md:px-10 px-3 py-2 fixed top-0 bg-prime-1000">
        <h3 class="text-white font-bold text-sm">{{navbar.title}}</h3>
        <a href="mailto:{{shared.mail}}"
            class="hire-me-btn box-border border-4 border-blue-500 bg-blue-500 px-4 py-1 text-white font-semibold text-sm uppercase transition-colors duration-150 hover:bg-blue-600 hover:border-blue-600">{{shared.hire_me}}</a>
    </nav>
    <!-- Navbar -->

    <!-- Header -->
    <header class="w-full h-screen grid grid-cols-2 container mx-auto xl:px-60 lg:px-32 md:px-16 sm:px-10 px-5">
        <!-- Text Content -->
        <div class="md:col-span-1 col-span-2 flex items-center justify-center flex-col">
            <!-- Title & Subtitle -->
            <div>
                <h1 class="text-white md:text-5xl text-4xl w-full text-left">{{{header.title}}}</h1>
                <h2 class="text-gray-200 md:text-xl text-lg font-light w-full text-left pt-4">
                    {{header.subtitle}}
                </h2>
            </div>
            <!-- Title & Subtitle -->
            <div class="w-full flex justify-start items-center pt-8">
                <!-- Social -->
                <div class="flex flex-col">
                    <a href="https://twitter.com/berkselvi_dev">
                        <img src="./dist/assets/img/twitter.svg" alt=""
                            class="p-1 my-1 rounded-md transition-colors duration-150 active:bg-blue-500 hover:bg-blue-500">
                    </a>
                    <a href="https://www.instagram.com/berkselvi.dev/">
                        <img src="./dist/assets/img/instagram.svg" alt=""
                            class="p-1 my-1 rounded-md transition-colors duration-150 active:bg-blue-500 hover:bg-blue-500">
                    </a>
                    <a href="https://github.com/berkslv">
                        <img src="./dist/assets/img/github-2.svg" alt=""
                            class="p-1 my-1 rounded-md transition-colors duration-150 active:bg-blue-500 hover:bg-blue-500">
                    </a>
                    <a href="https://www.linkedin.com/in/berkslv/">
                        <img src="./dist/assets/img/linkedin.svg" alt=""
                            class="p-1 my-1 rounded-md transition-colors duration-150 active:bg-blue-500 hover:bg-blue-500">
                    </a>
                </div>
                <!-- Social -->
                <!-- Control -->
                <div class="flex flex-col">
                    <a href="mailto:{{shared.mail}}" class="button-normal m-3 hire-me-btn">{{shared.hire_me}}</a>
                    <a href="#projects" class="button-outline m-3 projects-btn">{{shared.projects}}</a>
                </div>
                <!-- Control -->
            </div>
        </div>
        <!-- Text Content -->
        <!-- Draw -->
        <div class="hidden md:col-span-1 col-span-2 md:flex items-center justify-center">
            <img src="./dist/assets/img/undraw-dev.svg" alt="">
        </div>
        <!-- Draw -->
    </header>
    <!-- Header -->

    <!-- Services -->
    <section class="w-full h-auto  bg-prime-950">
        <div class="container mx-auto lg:px-16 md:px-12 sm:px-10 px-2 py-20">
            <!-- Title -->
            <div class="w-full text-center text-white">
                <h1 class="md:text-4xl text-3xl font-bold">{{services.title}}</h1>
            </div>
            <!-- Title -->
            <!-- Services Container -->
            <div class="flex items-center flex-col justify-center md:mt-10 mt-0">

                <!-- Service -->
                <div class="flex md:flex-row flex-col w-full md:pt-16 pt-28">
                    <!-- Text content -->
                    <div class="flex md:w-1/2 w-full items-start justify-center flex-col text-white p-6">
                        <h3 class="md:text-2xl text-xl">{{services.sec1.title}}</h3>
                        <p class="pt-5 text-gray-200 font-light">
                            {{services.sec1.content}}
                        </p>
                    </div>
                    <!-- Text content -->
                    <!-- Image -->
                    <div class="flex md:w-1/2 w-full items-center justify-center pt-15 md:pt-0 p-6">
                        <img src="./dist/assets/img/undraw-5.svg" alt="">
                    </div>
                    <!-- Image -->
                </div>
                <!-- Service -->

                <!-- Service -->
                <div class="flex md:flex-row flex-col-reverse w-full md:pt-16 pt-28">
                    <!-- Image -->
                    <div class="flex md:w-1/2 w-full items-center justify-center p-6">
                        <img src="./dist/assets/img/undraw-1.svg" alt="">
                    </div>
                    <!-- Image -->
                    <!-- Text content -->
                    <div class="flex md:w-1/2 w-full items-start justify-center flex-col text-white mb-10 p-6">
                        <h3 class="md:text-2xl text-xl">{{services.sec2.title}}</h3>
                        <p class="pt-5 text-gray-200 font-light">
                            {{services.sec2.content}}
                        </p>
                    </div>
                    <!-- Text content -->
                </div>
                <!-- Service -->

                <!-- Service -->
                <div class="flex md:flex-row flex-col w-full md:pt-16 pt-28">
                    <!-- Text content -->
                    <div class="flex md:w-1/2 w-full items-start justify-center flex-col text-white p-6">
                        <h3 class="md:text-2xl text-xl">{{services.sec3.title}}</h3>
                        <p class="pt-5 text-gray-200 font-light">
                            {{services.sec3.content}}
                        </p>
                    </div>
                    <!-- Text content -->
                    <!-- Image -->
                    <div class="flex md:w-1/2 w-full items-center justify-center pt-15 md:pt-0 p-6">
                        <img src="./dist/assets/img/undraw-4.svg" alt="">
                    </div>
                    <!-- Image -->
                </div>
                <!-- Service -->

                <!-- Service -->
                <div class="flex md:flex-row flex-col-reverse w-full md:pt-16 pt-28">
                    <!-- Image -->
                    <div class="flex md:w-1/2 w-full items-center justify-center p-6">
                        <img src="./dist/assets/img/undraw-3.svg" alt="">
                    </div>
                    <!-- Image -->
                    <!-- Text content -->
                    <div class="flex md:w-1/2 w-full items-start justify-center flex-col text-white mb-10 p-6">
                        <h3 class="md:text-2xl text-xl">{{services.sec4.title}}</h3>
                        <p class="pt-5 text-gray-200 font-light">
                            {{services.sec4.content}}
                        </p>
                    </div>
                    <!-- Text content -->
                </div>
                <!-- Service -->

            </div>
            <!-- Services Container -->
        </div>
    </section>
    <!-- Services -->

    <!-- Projects -->
    <section id="projects" class="w-full h-auto container mx-auto px-5 py-20">
        <!-- Title -->
        <div class="w-full text-center text-white">
            <h1 class="md:text-4xl text-3xl font-bold">{{projects.title}}</h1>
        </div>
        <!-- Title -->
        <!-- Projects Container -->
        <div class="w-full pt-10">

            <!-- Project -->
            <div class="flex md:flex-row flex-col-reverse">
                <div
                    class="md:w-4/12 w-full flex flex-col justify-between items-start md:pt-8 pt-6 md:p-8 p-3 bg-pink-900">
                    <div>
                        <h5 class="md:text-lg text-base text-gray-200">{{projects.project1.subtitle}}</h5>
                        <h4 class="md:text-4xl text-2xl text-white">{{projects.project1.title}}</h4>
                        <p class="text-gray-300 font-light pt-4">
                            {{projects.project1.desc}}
                        </p>
                    </div>
                    <a href="{{{projects.project1.link}}}"
                        class="button-outline-white text-center w-full mt-5">{{shared.visit}}</a>
                </div>
                <div class="md:w-8/12 w-full bg-pink-500 p-7">
                    <img src="{{{projects.project1.thumbnail}}}" alt="">
                </div>
            </div>
            <!-- Project -->

            <!-- Project -->
            <div class="flex md:flex-row-reverse flex-col-reverse mt-10">
                <div
                    class="md:w-4/12 w-full flex flex-col justify-between items-start md:pt-8 pt-6 md:p-8 p-3 bg-indigo-900">
                    <div>
                        <h5 class="md:text-lg text-base text-gray-200">{{projects.project2.subtitle}}</h5>
                        <h4 class="md:text-4xl text-2xl text-white">{{projects.project2.title}}</h4>
                        <p class="text-gray-300 font-light pt-4">
                            {{projects.project2.desc}}
                        </p>
                    </div>
                    <a href="{{{projects.project2.link}}}"
                        class="button-outline-white text-center w-full mt-5">{{shared.visit}}</a>
                </div>
                <div class="md:w-8/12 w-full bg-indigo-400 p-7">
                    <img src="{{{projects.project2.thumbnail}}}" alt="">
                </div>
            </div>
            <!-- Project -->

            <!-- Project -->
            <div class="flex md:flex-row flex-col-reverse mt-10">
                <div
                    class="md:w-4/12 w-full flex flex-col justify-between items-start md:pt-8 pt-6 md:p-8 p-3 bg-pink-900">
                    <div>
                        <h5 class="md:text-lg text-base text-gray-200">{{projects.project3.subtitle}}</h5>
                        <h4 class="md:text-4xl text-2xl text-white">{{projects.project3.title}}</h4>
                        <p class="text-gray-300 font-light pt-4">
                            {{projects.project3.desc}}
                        </p>
                    </div>
                    <a href="{{{projects.project3.link}}}"
                        class="button-outline-white text-center w-full mt-5">{{shared.visit}}</a>
                </div>
                <div class="md:w-8/12 w-full bg-pink-500 p-7">
                    <img src="{{{projects.project3.thumbnail}}}" alt="">
                </div>
            </div>
            <!-- Project -->

        </div>
        <!-- Projects Container -->

    </section>
    <!-- Projects -->

    <!-- Toolbox -->
    <section class="w-full h-auto bg-prime-1100">
        <div class="container mx-auto px-5 py-20">
            <!-- Title -->
            <div class="w-full text-center text-white">
                <h1 class="md:text-4xl text-3xl font-bold">{{toolbox.title}}</h1>
            </div>
            <!-- Title -->
            <div class="w-full pt-5">
                <!-- Sub section -->
                <div class="flex flex-col justify-center items-center pt-10">
                    <div class="w-full text-center text-white">
                        <h1 class="md:text-2xl text-xl font-bold">{{toolbox.subtitle1}}</h1>
                    </div>
                    <div class="w-full flex flex-row flex-wrap justify-center items-center pt-5">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/css.svg" alt="css">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/html.svg" alt="html">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/js.svg" alt="javascript">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/react.svg" alt="react">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/redux.svg" alt="redux">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/tailwind.svg" alt="tailwind">
                    </div>
                </div>
                <!-- Sub section -->
                <!-- Sub section -->
                <div class="flex flex-col justify-center items-center pt-10">
                    <div class="w-full text-center text-white">
                        <h1 class="md:text-2xl text-xl font-bold">{{toolbox.subtitle2}}</h1>
                    </div>
                    <div class="w-full flex flex-row flex-wrap justify-center items-center pt-5">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/node.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/csharp.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/mysql.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/mongo.svg" alt="">
                    </div>
                </div>
                <!-- Sub section -->
                <!-- Sub section -->
                <div class="flex flex-col justify-center items-center pt-10">
                    <div class="w-full text-center text-white">
                        <h1 class="md:text-2xl text-xl font-bold">{{toolbox.subtitle3}}</h1>
                    </div>
                    <div class="w-full flex flex-row flex-wrap justify-center items-center pt-5">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/git.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/github.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/wp.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/figma.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/aws.svg" alt="">
                        <img class="md:w-auto w-20 p-2" src="./dist/assets/img/namecheap.svg" alt="">
                    </div>
                </div>
                <!-- Sub section -->
            </div>
        </div>
    </section>
    <!-- Toolbox -->

    <!-- FAQ -->
    <section class="bg-prime-950 w-full text-white">
        <div class="mx-auto  md:w-8/12 sm:w-9/12 w-11/12 py-20">
            <!-- Title -->
            <div class="w-full text-center text-white">
                <h1 class="md:text-4xl text-3xl font-bold">{{faq.title}}</h1>
            </div>
            <!-- Title -->
            <div class="mt-8" x-data="{selected:null}">
                <ul class="shadow-box flex flex-col">
                {{#faq.items}}
                    <!-- Faq -->
                    <li class="relative bg-prime-1100 my-3">
                        <!-- Faq Control -->
                        <button type="button"
                            class="faq-btn w-full px-8 py-6 text-left border-3 border-prime-1100 focus:border-blue-500 hover:border-blue-500"
                            @click="selected !== {{id}} ? selected = {{id}} : selected = null">
                            <div class="flex items-center justify-start">
                                <img src="./dist/assets/img/chevron.svg" alt="chevron"
                                    class="h-5 w-5 transition-transform transform faq-icon -rotate-90 mr-2">
                                <h5 class="md:text-xl text-base font-medium">
                                    {{title}}
                                </h5>
                            </div>
                        </button>
                        <!-- Faq Control -->
                        <!-- Faq Content -->
                        <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container{{id}}"
                            x-bind:style="selected == {{id}} ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                            <div class="p-6">
                                {{{content}}} 
                            </div>
                        </div>
                        <!-- Faq Content -->
                    </li>
                    <!-- Faq -->
                {{/faq.items}}
                </ul>
            </div>
        </div>
    </section>
    <!-- FAQ -->

    <!-- Footer -->
    <footer class="w-full h-auto py-10 bg-prime-1100">
        <div class="md:w-6/12 w-10/12 container mx-auto">
            <div class="flex flex-col items-center justify-center">
                <h5 class="text-white">{{footer.title}}</h5>
                <button id="change-lang" class="text-white px-2 py-1 bg-prime-800 hover:bg-prime-700 mt-4">
                    {{footer.button}}
                </button>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Email sent modal -->
    <div id="sent-modal"
        class="w-full fixed z-50 inset-0 overflow-y-auto transition-all duration-500 invisible opacity-0"
        aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center h-screen w-full px-2 py-4 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <!-- Email sent modal card -->
            <div
                class="inline-block align-bottom bg-prime-900 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-prime-900 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <!-- Card Content -->
                    <div class="flex flex-col items-center justify-center">
                        <p class="font-bold text-blue-200">{{{email_sent.title}}}</p>
                        <p class="font-light text-blue-50">{{{email_sent.subtitle}}}</p>
                    </div>
                    <!-- Card Content -->
                </div>
            </div>
            <!-- Email sent modal card -->
        </div>
    </div>
    <!-- Email sent modal -->

    <!-- Laungugage specific scripts -->
    {{{lang_specific_scripts}}}
    <!-- Laungugage specific scripts -->
    <script src="./dist/main.js"></script>
</body>

</html>