@tailwind base;
@tailwind components;
@tailwind utilities;

.c-overlay,
.c-overlay * {
	box-sizing: border-box;
}
.c-overlay {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.c-overlay img {
	max-width: 100%;
}
.c-overlay .c-overlay-layer_bottom {
	display: block;
}
.c-overlay .c-overlay-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.87);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.c-overlay:hover .c-overlay-layer_top,
.c-overlay.active .c-overlay-layer_top {
	opacity: 1;
}
.c-overlay .c-overlay-text {
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.c-overlay .c-overlay-text_mobile {
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.c-overlay.active .c-overlay-text_mobile {
	display: block;
}