@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    caret-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

textarea {
    caret-color: #ffffff;
}

.button-normal {
    @apply box-border border-4 border-blue-500 bg-blue-500 px-10 py-2.5 text-center font-semibold text-white uppercase transition-colors duration-150 hover:bg-blue-600 hover:border-blue-600;
}

.button-normal-small {
    @apply box-border border-4 border-blue-500 bg-blue-500 px-4 py-1 text-white uppercase transition-colors duration-150 hover:bg-blue-600 hover:border-blue-600;
}

.button-outline {
    @apply box-border border-4 border-blue-500 px-10 py-2.5 font-semibold text-blue-500 uppercase transition-colors duration-150 hover:bg-blue-600 hover:border-blue-600 hover:text-white;
}

.button-outline-white {
    @apply box-border border-4 border-gray-100 px-10 py-2.5 font-semibold text-gray-100 uppercase transition-colors duration-150 hover:bg-gray-100 hover:border-gray-100 hover:text-black;
}

.button-outline-gray-400 {
    @apply box-border border-4 border-gray-300 px-10 py-2.5 font-semibold text-gray-200 uppercase transition-colors duration-150 hover:bg-gray-200 hover:border-gray-200 hover:text-gray-900;
}

.border-3 {
    border-width: 3px;
}


.h-100 {
    height: 26rem;
}

.h-110 {
    height: 29rem;
}

.h-120 {
    height: 33rem;
}